<aside id="rightSidebar" style="margin-left: 10px;">
    <div id="rightSideBox">
        <div style="text-align: center;">
            <h2>You Are Visitor Number</h2>
        </div>
        <div align='center'><a href='https://www.free-website-hit-counter.com'><img
                    src='https://www.free-website-hit-counter.com/c.php?d=9&id=164461&s=28' border='0'
                    alt='Free Website Hit Counter'></a><br /><small><a href='https://www.free-website-hit-counter.com'
                    title="Free Website Hit Counter">Free
                    website hit counter</a></small></div>
        <h2>Updates</h2>
        <div class="box" style="overflow-y: scroll; height: 400px">
            {% include 'updates.html' %}
        </div>
        <div class="gif" style="padding-top:15px">
            <img alt="A wizard gif" src="/static/imgs/wizard2.gif">
        </div>
        <div class="box" style="padding-top:15px; text-align: center;">
            <img alt="y2k" src="/static/imgs/y2k.gif">
            <img alt="chrmevil" src="/static/imgs/chrmevil.gif">
            <img alt="wikia-sucks" src="/static/imgs/badges/wikiasucks.gif">
        </div>
        <!-- <h2>Hi there!</h2> -->
        <!-- <h3>Other Tools</h3> -->
        <!-- <ul> -->
        <!--     <li><a href="https://sadgrlonline.github.io/html-cheatsheet/" target="_blank">HTML Cheatsheet</a> -->
        <!--     </li> -->
        <!--     <li><a href="/sadgrl/webmastery/webmaster-links.html" target="_blank">Webmaster Links</a></li> -->
        <!--     <li><a href="/sadgrl/webmastery/downloads/tiledbgs.html" target="_blank">Tiled BGs</a></li> -->
        <!--     <li><a href="/sadgrl/webmastery/downloads/fonts.html" target="_blank">Fonts</a></li> -->
        <!--     <li><a href="/sadgrl/projects/ideas/" target="_blank">Site Ideas</a></li> -->
        <!---->
        <!-- </ul> -->
    </div>
    <div id="pet" class="box" style="margin-bottom: 10px;">
        <h2 style="text-align: center;">Pet Corner</h2>
        <iframe width="314" height="321" scrolling="no"
            src="https://gifypet.neocities.org/pet/pet.html?name=Brutus&dob=1710266664&gender=m&element=Earth&pet=https%3A%2F%2Fi.ibb.co%2FNW4vLXr%2Fphoto-2024-03-12-14-01-48-removebg-preview.png&map=ozwomp.jpg&background=https%3A%2F%2Fsadhost.neocities.org%2Fimages%2Ftiles%2Fpplstar.gif&tablecolor=%23813d9c&textcolor=%2345e8ff"
            frameborder="0"></iframe>
        <div style="text-align: center; margin-top: 10px;">
            <a href="https://tamanotchi.world/11218c"><img src="https://tamanotchi.world/i2/11218"
                    alt="It's tamaNOTchi! Click to feed!"></a>
        </div>
        <a href="https://itsnotstupid.neocities.org/" target="_blank">
            <img src="https://itsnotstupid.com/adopt/baby_membrane.gif" style="width: 30%;" />
        </a>
        <a href="https://melonking.net" target="_blank">
            <img src="/static/imgs/adoptables/stompazomp.gif" style="width: 30%;" />
        </a>
    </div>
</aside>
