<ul style="padding-left:10px;">
    <li><strong>2024-08-20</strong> - Added my new site badge!</li>
    <li><strong>2024-08-15</strong> - Added Stamp section</li>
    <li><strong>2024-08-14</strong> - Replaced guestbook with JS guestbook module, moved comments over from all the
        other guestbooks ive used too!</li>
    <li><strong>2024-08-04</strong> - Added Art RSS feed!</li>
    <li><strong>2024-07-22</strong> - Updated contact me page to actually have stuff!</li>
    <li><strong>2024-07-22</strong> - Added latest art to the sidebar</li>
    <li><strong>2024-07-22</strong> - Updated landing page: re-organized and added a into!</li>
    <li>Added last.fm track (thanks to Justin at onemuri.men)</li>
    <li>Added a badge collection area to the main page</li>
    <li>Added Dragon Den</li>
    <li>Added links page</li>
    <li>Added blog landing page and RSS button</li>
</ul>
