---json
{
  "permalink": "/art/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Dakota's Blender Art'",
    "subtitle": "Feed for all of my Blender / 3D art!",
    "language": "en",
    "url": "https://dakotamarshall.net/",
    "author": {
      "name": "Dakota Marshall",
      "email": "me@dakotamarshall.net"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.art | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ metadata.url }}content/art/#{{ post.data.title }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}content/art/#{{ post.data.title }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">
        <h1>{{ post.data.title }}</h1>

        {% if post.data.urltype == 'img' %}
            <img class="artImage" src="{{ post.data.arturl }}"></img>
        {% endif %}

        {% if post.data.urltype == 'vid' %}
            <video class="artImage">
                <source src="{{ post.data.arturl }}"></source>
            </video>
        {% endif %}
            <div class="entryDescription">{{ post.templateContent }}</div>
            <p class="entryTags">Tags:
                {% for tag in post.data.tags %}
                {% if tag != 'art' %}
                <a class="tag" href="/content/categories/{{ tag }}">{{ tag }}</a>
                {% endif %}
                {% endfor %}
            </p>
    </content>
  </entry>
  {%- endfor %}
</feed>
