---
layout: layout.html
---
<div style="text-align: center;">
    <script>NekoType = "ghost"</script>
    <h1 id=nl>
        <script src="https://webneko.net/n20171213.js"></script><a href="https://webneko.net">Neko</a>
    </h1>
    <h1>Welcome!</h1>

    <img src="/static/imgs/epic-wizard.gif" />

    <p>Howdy! Welcome to my magic corner of the internet! My name is Dakota and I am the webmaster here!</p>
    <p></p>
    <p>I like to play video-games, make Blender art, mess with computers, and jump through about a billion other
        hobbies!</p>
    <p>
    <p>Feel free to look around, this place needs a lot of work but its my little place!</p>

    <img src="/static/imgs/boltballs.gif" style="width: 100%;" />

    <h3>Check Out My Latest Piece Of Art!</h3>

    {% for art in collections.art %}
    <!-- This will only show the last entry in the list -->
    {% if forloop.last == true %}
    {% if art.data.urltype == 'img' %}
    <a href="/content/art/#{{ art.data.title }}">
        <img class="artImage" src="{{ art.data.arturl }}">
    </a>
    {% endif %}

    {% if art.data.urltype == 'vid' %}
    <a href="/content/art/#{{ art.data.title }}">
        <video class="artImage" autoplay controls muted loop>
            <source src="{{ art.data.arturl }}">
        </video>
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}

    <!-- ![Seperator](/static/imgs/boltballs.gif) -->

    <img src="/static/imgs/boltballs.gif" style="width: 100%;" />

    <h2>Currently Casting Spells To:</h2>

    <div style="display: flex; align-items: center;">
        <img src="/static/imgs/orb.gif" style="width: 35%; height: 35%" />

        <div class="nowplayingcard">
            <div class="nowplayingcontainer-inner">
                <img id="trackart" src="#" style="width: 125px">
                <div class="trackInfo">
                    <div>
                        <a id="tracktitle"></a>
                    </div>
                    <div>
                        <a href="#" id="trackartist"></a>
                    </div>
                </div>
            </div>
        </div>

        <img src="/static/imgs/orb.gif" style="width: 40%; height: 40%" />
    </div>
    <img src="/static/imgs/boltballs.gif" style="width: 100%;" />

    <h2>Webrings</h2>
    <p align="center">
        <iframe style="border: none; width: 80%;" src="https://magering.net/sites/dakotamarshall.html">
        </iframe>
        <script src="https://magering.net/assets/parent.js"></script>
    </p>

    <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#00eaff" type="image/svg+xml"
        style="width: 100px; height: 100px;"></object>

    <p>
        <a href="https://fediring.net/previous?host=dakotamarshall.net">←</a>
        <a href="https://fediring.net/"><img src="/static/imgs/fediring.gif"></a>
        <a href="https://fediring.net/next?host=dakotamarshall.net">→</a>
    </p>
    <script src="https://sitesforpalestine.neocities.org/ring.js"></script>

    <img src="/static/imgs/boltballs.gif" style="width: 100%;" />

    <h2>Cool Site Collection</h2>
    <div style="padding: 5px;">
        <a href="https://spiritcellar.neocities.org/">
            <img src="https://spiritcellar.neocities.org/images/badges/spiritcellar_badge.gif">
        </a>
        <a href="https://mesoscale.neocities.org/">
            <img src="/static/imgs/meso_badge.gif" style="box-shadow: 0px 2px 4px #00362d8a;">
        </a>
        <!-- <a href="https://schelofthesea.neocities.org"> -->
        <!--     <img src="https://file.garden/ZLnqRCeVhBA68gsz/0.%20Assets/sitebutton.gif" width="88" height="31"> -->
        <!-- </a> -->
        <a href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"></a>
        <a href="https://melps.neocities.org" target="_blank">
            <img src="https://melps.neocities.org/limk1.jpg" width='88px'>
        </a>
        <a href="https://onemuri.men/" target="_blank">
            <img src="/static/imgs/onemuri.gif" width='88px'>
        </a>
        <a href="https://sheppy.neocities.org/" target="blank"><img
                src="https://sheppy.neocities.org/sillysite.gif"></a>
        <a href="https://antiamorous.neocities.org/indeximgs/antiamobutton.gif" target="blank"><img
                src="https://antiamorous.neocities.org/indeximgs/antiamobutton.gif"></a>
        <a href="https://lobre.neocities.org/"><img
                src="https://lobre.neocities.org/pics/internetbuttons/lobsterbutton.gif"></a>
        <a href="https://linwood.neocities.org"><img src="https://linwood.neocities.org/images/linwoodbutton2.gif"></a>
        <a href="https://itsnotstupid.com/"><img src="https://itsnotstupid.com/pics/button1.gif"></a>
        <a href="https://virtualobserver.moe/"><img src="https://virtualobserver.moe/images/sitebutton.png"></a>
        <a href='https://blinkies.cafe' target='_blank'><img
                src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif'
                alt='blinkies.cafe | make your own blinkies!'></a>
        <a href="https://nickolox.com/home"><img src="/static/imgs/badges/nickolox.gif"></a>
        <a href='https://foggybear42.neocities.org' target='_blank'><img
                src='https://foggybear42.neocities.org/images/foggybear.gif' alt="foggybear42"></a>
        <a href="https://leizy8499.neocities.org/" target="_blank"><img
                src="https://leizy8499.neocities.org/buttons/LEIZY8499.jpeg"></a>
    </div>

    <h3>Stamp Collection</h3>

    <div style="padding: 5px;">
        <a href="https://mesoscale.neocities.org/"><img src="/static/imgs/stamps/fighton.gif"></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/EVIL-FLAMING-SKULL.gif" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/demondays.gif" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/gurgle.gif" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/hellyeah.gif" width="88" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/kikigull.gif" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/pixelcity.gif" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/ponyo.gif" /></a>
        <a href="https://spiritcellar.neocities.org/"><img src="/static/imgs/stamps/surfingpikachu.png" /></a>
        <a href="https://odditycommoddity.neocities.org/"><img src="/static/imgs/stamps/zim.png" /></a>
        <a href="https://odditycommoddity.neocities.org/"><img src="/static/imgs/stamps/totallyrad.gif" /></a>
        <a href="https://foggybear42.neocities.org/home"><img src="/static/imgs/stamps/jermabreakitDOWN.gif" /></a>
        <a href="https://foggybear42.neocities.org/home"><img src="/static/imgs/stamps/skeles.gif" /></a>
    </div>

    <img src="/static/imgs/boltballs.gif" style="width: 100%;" />

    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="/static/imgs/reddragon1.gif" style="width: 30%">
        <h2>Dragons Den</h2>
        <img src="/static/imgs/reddragon2.gif" style="width: 30%;">
    </div>
    <img src="/static/imgs/dragon001.gif" />

    <p>Click the dragons to help them grow!</p>

    <div class="box" , style="text-align: center">
        {% assign dragons = "bDFXh
        8z1NV
        biTNi
        KVWFT
        BOLsi
        DdGgH
        xpUAU
        GpAEb
        1ufTn
        hOsIP
        hryKG
        3oNed
        qkCBL
        8ZEGk
        MBGkB
        2suZM
        Ch7Pd
        d15e8
        YgPu9" | split: "\n" %}
        {% for dragon in dragons %}
        <a href='https://dragcave.net/view/{{ dragon | lstrip }}'>
            <img style="border-width:0; padding: 10px" src='https://dragcave.net/image/{{ dragon | lstrip }}.gif'
                style='border-width: 0' alt='Adopt one today!' />
        </a>
        {% endfor %}
    </div>

    <a href="https://www.allureofnds.net/"><img style="padding-top: 10px;"
            src="https://static.allureofnds.net/images/siglinks/big.png"></a>

</div>
<style>
    .artImage {
        width: 100%;
        max-width: 250px;
        border: 2px solid;
        border-color: #ED64F5;
    }
</style>
<!-- last.fm script -->
<script>

    var lastfmData = {
        baseURL:
            "https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=",
        // Your Last.fm Username
        user: "bone-a-lisa",
        // Your API key
        api_key: "353804e2938cde0b605c769d7b363e2c",
        additional: "&format=json&limit=1"
    };

    var getSetLastFM = function () {
        $.ajax({
            type: "GET",
            url:
                lastfmData.baseURL +
                lastfmData.user +
                "&api_key=" +
                lastfmData.api_key +
                lastfmData.additional,
            dataType: "json",
            success: function (resp) {
                var recentTrack = resp.recenttracks.track[0];
                var formatted =
                    "<img src='https://files.catbox.moe/41escm.png'> " + recentTrack.name;
                $("a#tracktitle")
                    .html(formatted)
                    .attr("href", recentTrack.url)
                    .attr("title", recentTrack.name + " by " + recentTrack.artist["#text"])
                    .attr("target", "_blank");

                var artistFormatted =
                    "<img src='https://files.catbox.moe/h4su1r.png'> " +
                    recentTrack.artist["#text"];
                $("a#trackartist")
                    .html(artistFormatted)
                    .attr("title", "Artist : " + recentTrack.artist["#text"]);
                $("img#trackart").attr("src", recentTrack.image[2]["#text"]);
            },
            error: function (resp) {
                $("a#tracktitle").html(
                    "<img src='https://i.imgur.com/EgWjJry.png'>" + "Silence!"
                );
                $("img#trackart").attr("src", "https://i.imgur.com/Q6cCswP.jpg");
                var artistFormatted =
                    "<img src='https://i.imgur.com/fae5XZA.png'>Prashant Shrestha";
                $("a#trackartist")
                    .html(artistFormatted)
                    .attr("href", "www.prashant.me/");
            }
        });
    };

    // Get the new one.
    getSetLastFM();
    // Start the countdown.
    setInterval(getSetLastFM, 10 * 1000);

</script>
